<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <h2 class="underline">Angular 2.0 Test App</h2>
<br/>
<br/>

<app-author></app-author>

  
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" routerLink="/home" routerLinkActive="active">Home</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
      <a routerLink="/contactus" routerLinkActive="active">Contact Us</a>
      </li>
    </ul>
  </div>
</nav>
  <router-outlet></router-outlet>
<br/>
  <button type="button" data-toggle="tooltip" 
  data-placement="bottom"
  class="btn btn-primary" data-toggle="modal" data-target="#new-student-container">
   Add new student
</button>


  <!-- Modal -->
  <div class="modal fade" id="new-student-container" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modal-label">Add new student</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">

          <form #newStdForm="ngForm">
            <div class="form-group row">
              <div class="col-2">
                <label for="FirstName">FirstName:</label>
              </div>
              <div class="col-10">
                <input class="form-control" [(ngModel)]="newStudent.FirstName" name="newStudent.FirstName" />
              </div>
            </div>

            <div class="form-group row">
              <div class="col-2">
                <label for="LastName">LastName:</label>
              </div>
              <div class="col-10">
                <input class="form-control" [(ngModel)]="newStudent.LastName" name="newStudent.LastName" />
              </div>
            </div>

            <div class="form-group row">
              <div class="col-2">
                <label for="Age">Age:</label>
              </div>
              <div class="col-10">
                <input class="form-control" [(ngModel)]="newStudent.Age" name="newStudent.Age" />
              </div>
            </div>

            <div class="form-group row">
              <div class="col-2">
                <label>Gender</label>
              </div>
              <div class="col-10">
                <select class="form-control" [(ngModel)]="newStudent.Gender">
          <option *ngFor="let g of genderOptions" [value]="g">{{g}}</option>
      </select>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-2">
                <label for="Address">Address:</label>
              </div>
              <div class="col-10">
                <input class="form-control" [(ngModel)]="newStudent.Address" name="newStudent.Address" />
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <input type="submit" class="btn btn-primary" value="Save Changes" (click)= "addStudent()"/>
        </div>
      </div>
    </div>
  </div>
  <student-view [list]="students"></student-view>
  
  <taxi-rank [controlName]="cn"></taxi-rank>
</div>
